In [54]:
int1 = 10
var2 = 20
day ="Friday"
print(day)

Friday

In [9]:
#list of 
int1 = 11
int2 = 38
int3 = 49
int4 = 66

list_int =[11,38,49,66]
type(list_int)

list

In [12]:
list_int[2] #print the seconed number in array

49

In [11]:
list_int[-1]

66

In [22]:
list_int[0:5]

[11, 38, 49, 66]

In [24]:
list_int.append(88) #Add a number
print(list_int)

[11, 38, 49, 66, 88, 88]

In [25]:
list_int.remove (66) #Delete the specified number

In [26]:
print(list_int)

[11, 38, 49, 88, 88]

In [27]:
list_int.remove (88) #Delete the specified number

In [28]:
print(list_int)

[11, 38, 49, 88]

In [29]:
list_int.reverse() #Reverse the order of the numbers
print(list_int)

[88, 49, 38, 11]

In [35]:
list_int.sort() #Arranged from smallest to largest

print(list_int)

In [33]:
for each in range (1,7):
    print(each)

1
2
3
4
5
6

In [44]:
minimum = 11 
for each in list_int:
    if(each>minimum):
        minimum = each 
    else:
        continue 
print(minimum)

88

In [48]:
i=0
while(i<3):
    print(i)
    i=i+1

0
1
2

In [49]:
def calculate(x):
    output = x*x
    return output
num1 = calculate(3)
print(num1)

num2 = lambda x: x*x
print(num2(2))

9
4

In [50]:
dict ={"khalid":25,"mohammed":20,"omer":29}
print(dict)

{'khalid': 25, 'mohammed': 20, 'omer': 29}

In [52]:
dict.values()

dict_values([25, 20, 29])

In [53]:
dict.keys()

dict_keys(['khalid', 'mohammed', 'omer'])